<html xmlns:th="http://www.thymeleaf.org"> 

<head>
	<!-- th:insert="fragments.html :: headerfiles" -->
<title>Change Password</title>

<style>

*{
	padding: 0;
	border: 0;
}

</style>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body  style=" background-image:  linear-gradient(rgba(0, 0, 1, 0.306),rgba(0, 0, 1, 0.306)),  url(/images/new2.jpg); background-size: cover; ">


    <!-- NAVBAR  -->
    
    
    <nav class="navbar navbar-expand-lg"  style="background-color: rgba(241, 221, 248, 0.945) !important;">
		<div class="container-fluid">
		  <a class="navbar-brand" href="/">Infra-Bazar</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase p-2">
			  <li class="nav-item">
				<a class="nav-link " aria-current="page" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
			  </li>
			  
			  
			  <li class="nav-item">
				<a class="nav-link" href="/about"><i class="fa fa-info" aria-hidden="true"></i> About</a>
			  </li>
			   <li class="nav-item">
				<a class="nav-link" href="/index">buy-product</a>
			  </li>
			   <li class="nav-item">
				<a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> login </a>
			  </li>
			   <li class="nav-item">
				<a class="nav-link" href="/user_registration"><i class="fa fa-user-plus" aria-hidden="true"></i> signup </a>
			  </li>
			 
			</ul>
		   
		  </div>
		</div>
	  </nav>
		 
		  
		  <!-- End of Navbar -->
			  <div class="container" >

		<br>
		<br>
	<br>
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card" style=" border-radius: 2%; box-shadow: 4px 3px 8px 1px #ff0000;
			-webkit-box-shadow: 4px 3px 8px 1px #750505; background-color:rgba(0, 0, 0, 0.555); height:250px ">
				<div class="card-header" style="color:cornsilk;">
				
				<h3 class="mt-4">Enter new password</h3>
				
				<div class="card-block" style="padding: 24px;">
					
					
						<form method="post" action="" th:action="@{/change-password}">
						
						<div class="form-group">
						
						<input name="newpassword" required="required" type="password"  placeholder="Enter new password here" class="form-control">
						
						</div>
						<br>
						<div class="container text-center">
						<button class="btn btn-primary">Change Password</button>
						</div>
						</form>	
				</div>
			</div>
		</div>
	</div>
</body>
</html>